
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <!-- <h2 th:text="${registerdata.name}"></h2> -->

  <section layout:fragment="content">

    <div class="card">
      <div class="card-header">
        <img th:src="@{/assets/images/Group 90.png}" alt="onboarding-form-logo" style="height: 35px;">

        Onboarding Application Form - <span th:text="${appid}"></span>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <div class="float-left">
              Informed Consent Application
            </div>

            <div class="float-right">
              <form th:action="@{/consent-form/download}" method="get" id="regForm">

                <button type="submit" class="btn btn-primary" 
                  id="btnPrint">Download
                  Concent</button>
              </form>
            </div>
            <div class="float-right" id="uploadConsesnt" >
              <span class="btn btn-primary btn-file">
                Upload Consent <input id="fileupload" name="fileupload" type="file">
              </span>
            </div>

          </div>

          <div id="concentForm">
            <div class="card-body">

              <div class="container">
                <div class="row" style="height: 500px;">
                  <div class="col">
                    <iframe id="docpdf" th:src="@{http://localhost:8090/data/out.pdf}"
                      style="background-color:#EEE; height:100%;width: 100%;">
                    </iframe>
                  </div>
                </div>
              </div>

              <!-- <form th:action="@{/concent}" method="post" id="regForm" enctype="multipart/form-data">


                <div class="card">
                  <div class="card-body" style="border: 2px solid black;">

                    
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Application Id</label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                          value="email@example.com">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Organazation Name</label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Country</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Mobile No</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Tax No</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Tax Letter</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Incorporation Letter</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Additional Documents</label>
                      <div class="col-sm-10">
                        <input type="password" readonly class="form-control-plaintext" id="inputPassword"
                          >
                      </div>
                    </div>


                  </div>
                </div>

              </form> -->

            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" th:attr="onclick=|privious()|">Cancel</button>

        <button type="button" class="btn btn-primary" onclick="uploadFile()">Submit Application</button>

      </div>
    </div>

    
    <script type="text/javascript">


      function toggleText() {
        var x = document.getElementById("btnPrint");

        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }

      }

      async function uploadFile() {
        let formData = new FormData();
        formData.append("file", fileupload.files[0]);
        let response = await fetch('/concent', {
          method: "POST",
          body: formData
        });

        console.log(response);

        if (response.status == 200) {
          swal({
            title: "Application Submitted!",
            closeOnConfirm: false,
            text: "Your application has been submitted and is under riview!\n You will be notified within 2 Business days regarding the status of your Application.If there are any issues with your application's approval,We will reach out to you immediately.",
            imageUrl: ""
          }).then(function () {
            window.location.href = `http://localhost:8090/organazation`;
          });
        } else {
          alert("file not uploaded successfully !!");
        }
      }


      $(document).ready(async function () {
        $('#organazationHover').addClass('active');

      })


      function toggleText() {
        var x = document.getElementById("btnPrint");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

    </script>

  </section>





</body>

</html>